In [94]:
import pandas as pd
df1 = pd.read_csv('may30.csv')
df2 = pd.read_csv('may31.csv')
df3 = pd.read_csv('june1.csv')
df4 = pd.read_csv('june2.csv')
df5 = pd.read_csv('june3.csv')
df6 = pd.read_csv('june4.csv')
df7 = pd.read_csv('june5.csv')

In [95]:
df1 = df1[['song', 'artist']]
df2 = df2[['song', 'artist']]
df3 = df3[['song', 'artist']]
df4 = df4[['song', 'artist']]
df5 = df5[['song', 'artist']]
df6 = df6[['song', 'artist']]
df7 = df7[['song', 'artist']]

In [96]:
df7['position'] = [x for x in range(1,100)]
df6['position'] = [x for x in range(1,100)]
df5['position'] = [x for x in range(1,100)]
df4['position'] = [x for x in range(1,100)]
df3['position'] = [x for x in range(1,100)]
df2['position'] = [x for x in range(1,100)]
df1['position'] = [x for x in range(1,100)]

In [97]:
df7['title'] = [df7['song'][x] + ' - ' + df7['artist'][x] for x in range(0,99)]
df6['title'] = [df6['song'][x] + ' - ' + df6['artist'][x] for x in range(0,99)]
df5['title'] = [df5['song'][x] + ' - ' + df5['artist'][x] for x in range(0,99)]
df4['title'] = [df4['song'][x] + ' - ' + df4['artist'][x] for x in range(0,99)]
df3['title'] = [df3['song'][x] + ' - ' + df3['artist'][x] for x in range(0,99)]
df2['title'] = [df2['song'][x] + ' - ' + df2['artist'][x] for x in range(0,99)]
df1['title'] = [df1['song'][x] + ' - ' + df1['artist'][x] for x in range(0,99)]

In [98]:
songs = list(df1['title']) + list(df2['title']) + list(df3['title']) + list(df4['title']) + list(df5['title']) + list(df6['title']) + list(df7['title'])
songs = set(songs)
final = {}

In [99]:
song = list(df1['title'])
for x in songs:
    if x in song:
        final[x] = list(df1['position'][df1['title'] == x])
    else:
        final[x] = [301]

In [100]:
song1 = list(df2['title'])
for x in songs:
    if x in song1:
        final[x].append(int(df2['position'][df2['title'] == x]))
    else:
        final[x].append(301)

In [101]:
song2 = list(df3['title'])
for x in songs:
    if x in song2:
        final[x].append(int(df3['position'][df3['title'] == x]))
    else:
        final[x].append(301)

In [102]:
song3 = list(df4['title'])
for x in songs:
    if x in song3:
        final[x].append(int(df4['position'][df4['title'] == x]))
    else:
        final[x].append(301)

In [103]:
song4 = list(df5['title'])
for x in songs:
    if x in song4:
        final[x].append(int(df5['position'][df5['title'] == x]))
    else:
        final[x].append(301)

In [104]:
song5 = list(df6['title'])
for x in songs:
    if x in song5:
        final[x].append(int(df6['position'][df6['title'] == x]))
    else:
        final[x].append(301)

In [105]:
song6 = list(df7['title'])
for x in songs:
    if x in song6:
        final[x].append(int(df7['position'][df7['title'] == x]))
    else:
        final[x].append(301)

In [106]:
len(final)

131

In [107]:
songs = [x[:x.index('-') - 1 ] for x in final.keys()]
artists = [x[x.index('-') + 2:] for x in final.keys()]
post1 = [x[0] for x in final.values()]
post2 = [x[1] for x in final.values()]
post3 = [x[2] for x in final.values()]
post4 = [x[3] for x in final.values()]
post5 = [x[4] for x in final.values()]
post6 = [x[5] for x in final.values()]
post7 = [x[6] for x in final.values()]
postT = [(post1[x] + post2[x] + post3[x] + post4[x] + post5[x] + post6[x] + post7[x] )/7 for x in range(0, 131)]

In [108]:
data = {'song':songs,'artist':artists,'R1':post1,'R2':post2,'R3':post3,'R4':post4,'R5':post5,'R6':post6,'R7':post7,'RT': postT}
df = pd.DataFrame(data)

In [109]:
df.sort_values(by=['RT'], inplace=True)

In [110]:
df['rank'] = [x for x in range(1,132)]
df = df.set_index('rank')

In [111]:
df

,song,artist,R1,R2,R3,R4,R5,R6,R7,RT
rank,,,,,,,,,,
1,Feeling,"LADIPOE, Buju",1,1,1,1,1,1,1,1.000000
2,Rock,Olamide,2,2,2,2,2,2,2,2.000000
3,Bounce,Rema,3,3,3,3,3,3,3,3.000000
4,Outside,Buju,4,4,4,4,4,4,5,4.142857
5,Dimension (feat. Skepta & Rema),JAE5,6,6,6,6,6,6,7,6.142857
...,...,...,...,...,...,...,...,...,...,...
127,Bruised Up,Lil Baby,301,301,301,301,301,301,72,268.285714
128,If You Want To,Lil Baby,301,301,301,301,301,301,76,268.857143
129,Oliver Twist,ArrDee,301,301,301,301,301,301,83,269.857143
130,LV N ATTN feat. Wizkid,Lojay,301,301,301,301,301,86,301,270.285714
131,FEM,DaVido,301,99,301,301,301,301,301,272.142857

In [112]:
df.to_csv('spotify-week22.csv')