In [10]:
with open('june1.txt') as file:
    read = file.readlines()

In [11]:
x = 0
while x < len(read):
    read[x] = read[x].replace('\n', '')
    x += 1

In [12]:
while '' in read:
    read.remove('')

In [13]:
for x in read:
    if x.isdigit():
        continue
    if len(x) < 2:
        read.remove(x)

In [6]:
position = []
artist = []
song = []
album = []
i = 0
for x in read:
    i += 1
    if i == 1:
        position.append(x)
    elif i == 2:
        song.append(x)
    elif i == 3:
        artist.append(x)
    else:
        i = 0

In [7]:
data = {'Position': position ,'song': song, 'artist': artist, 'album': album}

In [8]:
import pandas as pd

df = pd.DataFrame(data)
df = df.set_index('Position')

In [9]:
df

                                                song           artist  album
Position
TRACK                                         ARTIST            ALBUM     L.
Feeling                                LADIPOE, Buju          Feeling  03:44
Bounce                                         Ruger         PANDEMIC  03:04
Rock                                         Olamide             Rock  03:05
Outside                                         Buju          Outside  03:11
...                                              ...              ...    ...
INJURE ME                                       Teni        WONDALAND  02:32
Too Correct                             Crayon, Rema       Twelve A.M  03:28
Save Your Tears                           The Weeknd      After Hours  03:35
p u n c h i n â€˜ . t h e . c l o c k        J. Cole   The Off-Season  01:52
6am in Brighton                               ArrDee  6am in Brighton  03:14

[101 rows x 3 columns]

In [42]:
df.to_csv('may30.csv')