In [1]:
from datetime import datetime
m = datetime.today().strftime('%B')
d = datetime.today().strftime('%d')
d = int(d)

In [1]:
with open(f'june4.txt', encoding='utf8') as file:
    read = file.readlines()

In [2]:
x = 0
while x < len(read):
    read[x] = read[x].replace('\n', '')
    x += 1

In [3]:
position =[]
artist = []
song = []
i = 0
for x in read:
    i += 1
    if x.isdigit() and x not in position:
        i = 1
        position.append(x)
    elif i == 2:
        artist.append(x)
    elif i == 3:
        song.append(x)

In [4]:
artist

['LADIPOE',
 'Olamide',
 'Barry Jhay',
 'Cheque & Fireboy DML',
 'Terri, Bella Shmurda, Mohbad',
 'Naira Marley',
 'Dangbana Republik, Bella Shmurda',
 'Joeboy',
 'Guchi',
 'Adekunle Gold',
 'Burna Boy',
 'Teni',
 'Blaqbonez',
 'Teni featuring Davido',
 'Lyta',
 'Chiké',
 'Buju',
 'Bella Shmurda',
 'Focalistic & Davido',
 'Peruzzi & Davido',
 'Skales and Davido',
 'Seyi Vibez',
 'CKay',
 'Dangbana Republik X Bella Shmurda',
 'Zlatan',
 'Crayon',
 'Victor AD',
 'Ajebo Hustlers & Omah Lay',
 'Masterkraft',
 'DJ Neptune',
 'Wizkid',
 'Olamide',
 'Tion Wayne x Russ Millions',
 'Mr Eazi and Dre Skull',
 'Seyi Vibez',
 'Wizkid',
 'Zinoleesky',
 'Omah Lay',
 'Olamide',
 'AJIMOVOIX_DRUMS',
 'Rod Wave',
 'Naira Marley',
 'Seyi Vibez',
 'Joeboy',
 'Bella Shmurda',
 'DJ Kaywise & Phyno',
 'Barry Jhay',
 'Joeboy',
 'Timaya',
 'Burna Boy',
 'Bella Shmurda',
 'Davido',
 'Ice Prince',
 'Bella Shmurda',
 'Fireboy DML & D Smoke',
 'Burna Boy',
 'Tolibian',
 'Rexxie and MohBad',
 'DJ Tunez',
 'Naira Marley',
 'Bella Shmurda',
 'Vector',
 'Peruzzi',
 'Bella Shmurda',
 'MohBad',
 'Seyi Vibez',
 'Bella Shmurda',
 'Omah Lay',
 'Bella Shmurda',
 'Anonymous Music',
 'Bella Shmurda',
 'KayBlinkz',
 'Barry Jhay',
 'Joeboy',
 'Kida Kudz',
 'Zugo',
 'Zinoleesky',
 'Davolee',
 'Davido',
 'Omah Lay',
 'Burna Boy',
 'Tems',
 'Simi feat. Adekunle Gold and Deja',
 'Mayorkun',
 'Bella Shmurda',
 'Kizz Daniel',
 'Olamide',
 'WizKid',
 'Pink Sweat$',
 'Joeboy',
 'Omah Lay',
 'Chiké',
 'Davido',
 'Jimmygid',
 'Laycon',
 'Wizkid',
 'Bella Shmurda',
 'Central Cee',
 'Spinall, Fireboy DML and 6LACK',
 'Mohbad']

In [5]:
data = {'Position': position ,'song': song, 'artist': artist}

In [6]:
import pandas as pd

df = pd.DataFrame(data)
df = df.set_index('Position')

In [7]:
df.to_csv(f'{m}{d}.csv')

In [8]:
df

                  song         artist
Position
1           Understand       Omah Lay
2              Feeling        LADIPOE
3                 Rock        Olamide
4         Naira Marley     Zinoleesky
5               Sinner  Adekunle Gold
...                ...            ...
196            Jackpot         Crayon
197               Flex         Polo G
198           Baba Nla   Candy Bleakz
199             Try Me           Tems
200              Risky         Davido

[200 rows x 2 columns]

In [9]:
with open(f'album-{m}{d}.txt', encoding = 'utf-8') as file:
    read = file.readlines()

In [10]:
i = 0
for x in read:
    read[i] = read[i].replace('\n', '')
    read[i] = read[i].strip()
    i += 1

In [11]:
position =[]
artist = []
album = []
i = 0
for x in read:
    i += 1
    if x.isdigit() and x not in position:
        i = 1
        position.append(x)
    elif i == 2:
        artist.append(x)
    elif i == 3:
        album.append(x)

In [12]:
data = {'Position': position ,'album': album, 'artist': artist}

In [13]:
import pandas as pd

df = pd.DataFrame(data)
df = df.set_index('Position')

In [14]:
df.to_csv(f'album-{m}{d}.csv')

In [15]:
df

                        album                             artist
Position
1                    UY Scuti                            Olamide
2            High Tension 2.0  Dangbana Republik & Bella Shmurda
3             High Tension EP                      Bella Shmurda
4             A True Champion                             Rexxie
5                   WONDALAND                               Teni
...                       ...                                ...
170                     Fever                Megan Thee Stallion
171               Afro Series                              Terri
172              We All Shine                          YNW Melly
173                 Honorable                             Hotkid
174       Runtown Hits Vol. 1                            Runtown

[174 rows x 2 columns]

In [70]:
with open(f'afrobeat-{m}{d}.txt', encoding = 'utf-8') as file:
    read = file.readlines()

In [71]:
i = 0
for x in read:
    read[i] = read[i].replace('\n', '')
    read[i] = read[i].strip()
    i += 1

In [72]:
for x in read:
    if '' in read:
        read.remove('')

In [73]:
position =[]
song = []
artist = []
i = 0
for x in read:
    i += 1
    if x.isdigit() and x not in position:
        i = 1
        position.append(x)
    elif i == 2:
        song.append(x)
    elif i == 3:
        artist.append(x)

In [74]:
data = {'Position': position ,'song': song, 'artist': artist}

In [75]:
import pandas as pd

df = pd.DataFrame(data)
df = df.set_index('Position')

df.to_csv(f'afrobeat-{m}{d}.csv')

In [16]:
with open(f'afrohiphop-{m}{d}.txt', encoding = 'utf-8') as file:
    read = file.readlines()

In [17]:
i = 0
for x in read:
    read[i] = read[i].replace('\n', '')
    read[i] = read[i].strip()
    i += 1

In [18]:
for x in read:
    if '' in read:
        read.remove('')

In [19]:
position =[]
song = []
artist = []
i = 0
for x in read:
    i += 1
    if x.isdigit() and x not in position:
        i = 1
        position.append(x)
    elif i == 2:
        song.append(x)
    elif i == 3:
        artist.append(x)

In [20]:
data = {'Position': position ,'song': song, 'artist': artist}

In [21]:
import pandas as pd

df = pd.DataFrame(data)
df = df.set_index('Position')

df.to_csv(f'afrohiphop-{m}{d}.csv')

In [30]:
with open(f'afropop-{m}{d}.txt', encoding = 'utf-8') as file:
    read = file.readlines()

In [31]:
i = 0
for x in read:
    read[i] = read[i].replace('\n', '')
    read[i] = read[i].strip()
    i += 1

In [32]:
for x in read:
    if '' in read:
        read.remove('')

In [33]:
position =[]
song = []
artist = []
i = 0
for x in read:
    i += 1
    if x.isdigit() and x not in position:
        i = 1
        position.append(x)
    elif i == 2:
        song.append(x)
    elif i == 3:
        artist.append(x)

In [34]:
data = {'Position': position ,'song': song, 'artist': artist}

In [35]:
import pandas as pd

df = pd.DataFrame(data)
df = df.set_index('Position')

df.to_csv(f'afropop-{m}{d}.csv')

In [36]:
with open(f'alte-{m}{d}.txt', encoding = 'utf-8') as file:
    read = file.readlines()

In [37]:
i = 0
for x in read:
    read[i] = read[i].replace('\n', '')
    read[i] = read[i].strip()
    i += 1

In [38]:
for x in read:
    if '' in read:
        read.remove('')

In [39]:
position =[]
song = []
artist = []
i = 0
for x in read:
    i += 1
    if x.isdigit() and x not in position:
        i = 1
        position.append(x)
    elif i == 2:
        song.append(x)
    elif i == 3:
        artist.append(x)

In [40]:
data = {'Position': position ,'song': song, 'artist': artist}

In [41]:
import pandas as pd

df = pd.DataFrame(data)
df = df.set_index('Position')

df.to_csv(f'alte-{m}{d}.csv')