In [1]:
import pandas as pd
df1 = pd.read_csv('afrobeat-june27.csv')
df2 = pd.read_csv('afrobeat-july2.csv')

In [3]:
len(df2)

96

In [ ]:
df7['title'] = [df7['song'][x] + ' - ' + df7['artist'][x] for x in range(0,150)]
df6['title'] = [df6['song'][x] + ' - ' + df6['artist'][x] for x in range(0,150)]

In [3]:
songs = list(df1['title']) + list(df2['title']) + list(df3['title']) + list(df4['title']) + list(df5['title']) + list(df6['title']) + list(df7['title'])
songs = set(songs)
final = {}

In [4]:
song = list(df1['title'])
for x in songs:
    if x in song:
        final[x] = list(df1['Position'][df1['title'] == x])
    else:
        final[x] = [301]

In [5]:
song1 = list(df2['title'])
for x in songs:
    if x in song1:
        final[x].append(int(df2['Position'][df2['title'] == x]))
    else:
        final[x].append(301)

In [6]:
song2 = list(df3['title'])
for x in songs:
    if x in song2:
        final[x].append(int(df3['Position'][df3['title'] == x]))
    else:
        final[x].append(301)

In [7]:
song3 = list(df4['title'])
for x in songs:
    if x in song3:
        final[x].append(int(df4['Position'][df4['title'] == x]))
    else:
        final[x].append(301)

In [8]:
song4 = list(df5['title'])
for x in songs:
    if x in song4:
        final[x].append(int(df5['Position'][df5['title'] == x]))
    else:
        final[x].append(301)

In [9]:
song5 = list(df6['title'])
for x in songs:
    if x in song5:
        final[x].append(int(df6['Position'][df6['title'] == x]))
    else:
        final[x].append(301)

In [10]:
song6 = list(df7['title'])
for x in songs:
    if x in song6:
        final[x].append(int(df7['Position'][df7['title'] == x]))
    else:
        final[x].append(301)

In [11]:
len(final)

139

In [13]:
songs = [x[:x.index('-') - 1 ] for x in final.keys()]
artists = [x[x.index('-') + 2:] for x in final.keys()]
post1 = [x[0] for x in final.values()]
post2 = [x[1] for x in final.values()]
post3 = [x[2] for x in final.values()]
post4 = [x[3] for x in final.values()]
post5 = [x[4] for x in final.values()]
post6 = [x[5] for x in final.values()]
post7 = [x[6] for x in final.values()]
postT = [(post1[x] + post2[x] + post3[x] + post4[x] + post5[x] + post6[x] + post7[x] )/7 for x in range(0, 139)]

In [14]:
data = {'song':songs,'artist':artists,'R1':post1,'R2':post2,'R3':post3,'R4':post4,'R5':post5,'R6':post6,'R7':post7,'RT': postT}
df = pd.DataFrame(data)

In [15]:
df.sort_values(by=['RT'], inplace=True)

In [16]:
df['rank'] = [x for x in range(1,140)]
df = df.set_index('rank')

In [17]:
df

,song,artist,R1,R2,R3,R4,R5,R6,R7,RT
rank,,,,,,,,,,
1,Feeling,"LADIPOE, Buju",1,1,1,1,1,1,2,1.142857
2,Bounce,Ruger,3,2,2,3,2,3,3,2.571429
3,Rock,Olamide,2,3,3,2,3,2,4,2.714286
4,Bling (feat. Amaarae & Buju),"Blaqbonez, amaarae, Buju",5,4,5,4,5,5,6,4.857143
5,Outside,Buju,11,6,4,5,4,4,5,5.571429
...,...,...,...,...,...,...,...,...,...,...
135,Make It Out,"Lil Baby, Lil Durk",301,301,301,301,301,96,301,271.714286
136,Someone You Loved,Lewis Capaldi,301,97,301,301,301,301,301,271.857143
137,What You See,"Migos, Justin Bieber",301,301,301,301,301,301,98,272.000000
138,GNF (OKOKOK),POLO G,301,301,301,301,301,301,99,272.142857
139,Egbon,"Masterkraft, Phyno",301,301,301,99,301,301,301,272.142857

In [18]:
df.to_csv('deezer-week23.csv')